body {
font-family: 'Roboto' ;
font-size: 22px;
margin: 0;
padding: 0;
}
/* Navbar--------------------------------------------------------*/

.spacer{
flex-grow : 1 ;
}

nav img{
	margin-left: 10% ;
}

nav {
position: fixed;
display: flex;
background-color: white;
width: 100%;
align-items: center;
justify-content:  flex-end;
top: 0;
z-index: 9999;
}
	

nav a {
display: block;
text-decoration: none;
padding: 35px 25px ;
position: relative;
color: black;
}

nav a::before {
content: '';
transition: background-color .5s ease-in-out ;
}

nav a:hover::before {
width: 100%;
height: 4px;
background-color: #5cadd3 ;
position: absolute;
top: 0 ;
left: -50% ;
transform : translateX(50%);
}

nav a:last-child{
margin-right: 10% ;
}


/* accueil---------------------------------------------- */

#accueil{
margin-top: 99px;
position: relative;
overflow: hidden;
}
	
#accueil img{
width: 100%;
}

.circle {
background-color: rgba(255, 255, 255, 0.5);
height: 50px;
width: 50px;
border-radius: 99999px;
position: absolute;
top: 50%;
}

.leftbutton {
left: 0;
transform: translate(-50%, -50%);
}

.leftbutton::after {
content: '<';
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
}
.rightbutton {
right: 0;
transform: translate(50%, -50%);
}

.rightbutton::after {
content: '>';
position: absolute;
top: 50%;
left: 10px;
transform: translateY(-50%);
}
.slidertext{
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 170px ;
}

mark{
color: #5cadd3;
background-color: transparent;
}

.slidertext p{
color: white;
}

.slidertext h3 {
font-size: 35px;
letter-spacing: -1px;
color: white;
margin: 0;
}

.infobutton{
color: white;
padding: 10px 15px 10px 15px;
background-color: #5cadd3;
border-radius: 3px;
border:0;
border-bottom: 4px inset #5097b7 ;
}

.infobutton:hover{
background-color: #5097b7;
}



/*services-------------------------------------------------------------*/

#services{
padding-top: 89px;
}


h2 {
font-size: 35px;
text-align: center;
width: 100%;
margin: 0;
}

hr {
border: 0;
position: relative;
overflow: visible;
width: 100px;
height: 2px;
background-color: #cccdce;
}

hr::after {
content: '';
display: block;
width: 15px;
height: 15px;
background-color: #5cadd3;
border-radius: 99999px;
border: solid white 5px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.soustitre{
width: 60%;
margin: 0 auto 0 auto;
text-align: center;
color: #777777 ;
line-height: 2;
font-size: 16px;
}

.bloc_services{
display: flex ;
justify-content : flex-end;
}

.bloc-img{
/*flex:1 ;*/
}

.bloc_services img{
width: 100%;
margin: 80px 0;
}

.bloc_services h3{
font-size: 18px ;
}

.bloc_services p{
font-size: 16px ;
color: #777777 ;
padding-right: 50px;
}

.container-text-service{
display: flex ;
flex-direction : column ;
justify-content : center;
width: 50%;
}

.bloc-text-service{
display: flex ;
}

.container-icone{
background-color: none;
margin: auto 50px;
}

.icone{
position :relative ;
border: 1px solid #bababa;
padding: 15px ;
margin: 10px ;
border-radius: 99999px ;
color: #5cadd3;
}

.icone::after{
content: '';
position: absolute;
width: 15px;
height: 15px;
border-radius: 99999px;
background-color: #5cadd3;
border: 4px solid white ;
transform: translate(50%, -50%);
top:50%;
right: 0;
}


/*----portfolio----------------------------*/
.portfolioimg{
position: relative;
width: 100%;
margin: auto;
display: flex ;
flex-wrap : wrap ;
justify-content : center ;
}
.centrage-portfolio{
display: flex ;
justify-content : flex-start ;
width: 90%;
margin: auto;
flex-wrap : wrap ;
}

.portfolioimg img{
width: 23.2%;
padding: 10px;
}

#projets{
padding-top: 100px;
clear: both;
}
	
.portfolionav {
display: flex;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
list-style-type: none;
margin-bottom: 20px;
}
	
.filtreportfolio {
text-decoration: none;
padding: 15px 20px 15px 20px;
display: block;
background-color: #d1d1d1;
color: #777777;
border-bottom: 4px inset #d1d1d1 ;
}

.allworks {
position: relative;
text-decoration: none;
padding: 15px 20px 15px 20px;
display: block;
background-color: #5cadd3;
color: white;
border-radius: 10px 0 0 10px ;
border-bottom: 4px inset #5097b7 ;
}

.allworks::after{
content: "";
position: absolute;
bottom: -0.5em;
left: 45%;
border: 0.5em solid black;
border-color: transparent transparent #5097b7 #5097b7;
transform: rotate(-45deg);
}
	
.filtreportfolioright {
text-decoration: none;
padding: 15px 20px 15px 20px;
display: block;
background-color: #d1d1d1;
color: #777777;
border-radius: 0 10px 10px 0 ;
border-bottom: 4px inset #d1d1d1 ;
}

#contact{
padding-top: 130px;
position: relative;
}

.mapgoogle {
width: 99.7% ;
padding-left : auto;
padding-right: auto;
height: 800px;
}

.filtrebleu {
width: 99.7% ;
height: 800px ;
position: absolute;
top: 130px;
left: 0 ;
background: rgba(98, 197, 212, 0.2);
pointer-events:none;
}

form{
position: absolute;
background: rgba(155, 155, 155, 0.8);
left: 70%;
top: 25%;
padding: 15px;
}

.champsmessage{
height: 6em;}
	
@media only screen and (max-width:825px){
/* Navbar--------------------------------------------------------*/

nav {
position:relative; 
display: flex;
flex-wrap : wrap ;
background-color: white;
width: 100%;
align-items: center;
top: 0;
}
	
nav img {
height: 70px ;
margin: auto;
}

nav a {
display: block;
/*background-color: green;*/
text-decoration: none;
width: 100% ;
padding : 5px 10px ;
position: relative;
color: black;
font-size: 16px ;
}

nav a::before {
content: '';
transition: background-color .5s ease-in-out ;
}

nav a:hover::before {
width:4px;
height: 100%;
background-color: #5cadd3 ;
position: absolute;
top: -50% ;
left: 0 ;
transform : translateY(50%);
}

nav a:last-child{
margin-right: 0 ;
}

/*accueil-------------------------------------*/
#accueil{
margin-top: 0px;
}
	
.circle {
height: 25px;
width: 25px;
}

.leftbutton::after {
right: 2px;
}

.rightbutton::after {
left: 2px;
}
.slidertext{
left: 15px ;
}

.slidertext p{
font-size: 10px ;
}

.slidertext h3 {
font-size: 15px;
}

.infobutton{
padding: 5px 7px 5px 7px;
font-size: 10px ;
}
/*services-------------------------------------------------------------*/

#services{
padding-top: 20px;
}


.soustitre{
width: 100%;
}

.bloc_services{
flex-direction : column ;
}

.container-text-service{
width: 100%;
}

.bloc_services p{
font-size: 14px ;
color: #777777 ;
padding-right: 15px;
}

.bloc_services img{
width: 100%;
margin: 0 0;
}


.icone{
padding: 15px ;
margin: 0 ;
}
/*portfolio-------------------------------------------------------------*/

}